
/// ...
/// @group framework
/// @access private
/// @type Color
$badge-background				: rgba(0, 0, 0, .05) !default;

/// ...
/// @group framework
/// @access private
/// @type Color
$badge-colour					: inherit !default;

/// ...
/// @group framework
/// @access private
/// @type Color
$badge-padding					: .3rem !default;

/// ...
/// @group framework
/// @access private
/// @type Color
$badge-min-width				: 1.4rem !default;

/// ...
/// @group framework
/// @access private
/// @type Color
$badge-font-size				: .6rem !default;

/*---
Badge
@group			UIComponents/Badge
@desc			...
@modifier		badge--success	: Success
@modifier		badge--info		: Info
@modifier		badge--warning	: Warning
@modifier		badge--error	: Error
@todo			Document
@author			Michael Ord
@tags			module
---
<span class="badge {modifier}">1</span>
<span class="badge {modifier}">100+</span>
*/
.badge
{
	$parent						: &;

	display						: inline-block;
	vertical-align				: middle;
	padding						: $badge-padding;
	min-width					: $badge-min-width;
	font-size					: $badge-font-size;
	text-align					: center;
	border-radius				: 50%;
	background					: $badge-background;
	color						: $badge-colour;

	&--success
	{
		background-color		: $clr-success;
		color					: #fff;
	}

	&--info
	{
		background-color		: $clr-info;
		color					: #fff;
	}

	&--warning
	{
		background-color		: $clr-warning;
	}

	&--error
	{
		background-color		: $clr-error;
		color					: #fff;
	}
}
